:root {
    /*These variables down here let me give the colors I want to use names, since I don't like looking at hex codes*/
    --xanthous: #FFBC42;
    --cafenoir: #573D1C;
    --tiffanyblue: #9DD9D2;
    --licorice: #13070C;
  }
  
.silkscreen-regular {
    font-family: "Silkscreen", serif;
    font-weight: 400;
    font-style: normal;
  }
/* Setting margin and padding to zero will remove all pre existing margins and paddings there by default*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* This prevents the scrollbar */
}
#grid-layout {
    display: grid; /*This enables a grid to be implemented*/
    grid-template-rows: auto 1fr auto; /*Sets the grid rows determined here by 'auto 1fr auto' */
    grid-template-columns: 15% 70% 15%; /*Sets the grid columns here derermined by '15% 70% 15%*/
    grid-template-areas: /*The temple areas are detemined by the quotes below. Basically saying where we want our areas to be*/
    "header header header"
    "left main right"
    "footer footer footer";
    min-height: 98.3vh;
    background-color: var(--licorice);
}
#header {
    grid-area: header; /*Tells the program that the area of the class is the header grid*/
    background-color: var(--cafenoir);
    text-align: center;
    color: ghostwhite;
    box-shadow: inset 0 4px 6px var(--licorice);
}
#leftSide {
    grid-area: left; /*Tells the program that the area of the class is the left grid*/
    background-color: var(--licorice);
    color: ghostwhite;
    font-size: 5rem;
    text-align: center;
}
#main {
    grid-area: main; /*Tells the program that the area of the class is the main grid*/
    background-color: steelblue;
    color: ghostwhite;
    border: 4px solid ghostwhite;
    border-radius: 50px;
    box-shadow: inset 0 4px 6px var(--licorice);
}
#rightSide {
    grid-area: right; /*Tells the program that the area of the class is the right grid*/
    background-color: var(--licorice);
    color: ghostwhite;
    font-size: 5rem;
    text-align: center;
}
#footer {
    grid-area: footer; /*Tells the program that the area of the class is the footer grid*/
    background-color: var(--cafenoir);
    color: ghostwhite;
    text-align: center;
    box-shadow: inset 0 4px 6px var(--licorice);
}
#calcDisplay {
    border: 4px solid ghostwhite;
    min-height: 10px;
    font-size: 55px;
    background-color: var(--tiffanyblue);
    margin: 1vw 1vh;
    border-radius: 50px;
    box-shadow: inset 0 4px 6px var(--licorice);
}

#buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*Tells the program that there will be three repeating rows*/
    margin: 5px 30px;
    gap: 7px;
}

.clickNum {
    padding: 10px;
    background-color: var(--xanthous);
    color: ghostwhite;
    text-align: center;
    cursor: pointer;
    border-radius: 50px;
    font-size: 45px;
    border: solid var(--licorice);
    transition: transform 0.3s ease, filter 0.3s ease;
    box-shadow: 0 4px 6px var(--licorice);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Silkscreen", serif;
}
.clickNum:hover {
    transform: scale(1.1);
    filter: grayscale(50%) contrast(80%) brightness(0.6);
    box-shadow: inset 0 4px 6px var(--licorice);
}